<div class = "row styl">
  <div class = "col-md-6 col-sm-12 col-xs-12 " >
    <h1> Media Watch Tracker </h1>
    <h6> <i> Keeping track of media I want to watch </i></h6>
  </div>
  <div class = "col-md-6 col-sm-12 col-xs-12" (click)="addMovie()" >
    <div *ngIf="btnClick==false">
      <button class = "form-control addNew"> Add A New Movie to Watch </button>
    </div>
  </div>
</div>
<div *ngIf="btnClick==true">
  <form (submit)="onSubmit(myForm)" #myForm="ngForm">
    <div class = "form-group formstyl">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8" style="margin:5px"> 
          <input type = "text" placeholder="MovieName" class = "form-control comp" 
                 name="m_name" [(ngModel)]="int" #movie ="ngModel" required>
          <div *ngIf="movie.invalid && (movie.dirty || movie.touched)">
            <label class = "errorStyle"> Please Provide Movie Name </label>
          </div>
          <select class = "form-control" name="genre" #select="ngModel" [(ngModel)]="selected" required>
            <option>Action</option>
            <option> Drama </option>
            <option>Romance</option>
            <option> Classics</option>
            <option> Comedies</option>
            <option>Thriller</option>
            <option>Suspense </option> 
          </select>
          <div *ngIf="select.invalid&&select.touched ">
            <label class = "errorStyle"> Please Provide Movie Genre </label>
          </div>
          <input type = "text" placeholder="Release Year" class = "form-control comp" 
                 name="m_rel" [(ngModel)]="relYr" #yr ="ngModel" required>
          <div *ngIf="yr.invalid && (yr.dirty || yr.touched)">
            <label class = "errorStyle"> Please Provide Released Year </label>
          </div>
          <button class = "form-control btn-style" type = "submit" (click) = "addToWishList()"> Add to Wishlist </button>
          <button class = "form-control btn-style" (click) = "cancelMovieAdd()"> Cancel </button>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row styl">
<app-media-item></app-media-item>